:root {
    --midnight-blue: #0A192F;
    --steel-blue: #1B2A41;
    --neon-cyan: #00A8E8;
    --gray-blue: #B0BEC5;
    --deep-black: #121212;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--gray-blue);
}

input {
    background-color: var(--deep-black);
    color: var(--gray-blue);
}

button {
    color: var(--midnight-blue);
}
