<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch - ManuCast</title>
    <!-- Favicons -->
    <link rel="icon" href="../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="../assets/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" href="../assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" href="../assets/img/favicon/android-chrome-192x192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="../assets/img/favicon/android-chrome-512x512.png" sizes="512x512" type="image/png">
    <!-- Scripts y estilos -->
    <script src="../assets/tailwind/tailwind 3.4.16.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="../assets/videojs/video-js.css" rel="stylesheet" />
    <link href="../assets/videojs/silvermine-videojs-chromecast.css" rel="stylesheet" />
    <script src="../assets/videojs/video.min.js"></script>
    <script src="../assets/videojs/silvermine-videojs-chromecast.min.js"></script>
    <script src="../assets/videojs/cast_sender.js?loadCastFramework=1"></script>
    <script src="../assets/js/main/mainWatch.js" type="module"></script>
</head>
<body class="bg-midnight-blue text-gray-blue min-h-screen">
    <!-- Contenido principal -->
    <main class="p-8 mx-auto flex flex-col items-center justify-center gap-y-8">
      <!-- Título -->
      <h1 id="title" class="text-3xl md:text-4xl font-bold text-neon-cyan text-center"></h1>

      <!-- Portada y detalles -->
      <div class="flex flex-col md:flex-row gap-8 w-full md:w-3/4 items-center align-center justify-center">
        <!-- Portada -->
        <img id="poster" alt="Portada" class="w-96 rounded-lg shadow-lg">

        <!-- Información -->
        <div class="text-gray-blue space-y-4">
          <p id="type" class="text-md bg-neon-cyan/20 px-3 py-1 rounded-md inline-block font-semibold"></p>
          <p id="sinopsis" class="text-gray-blue leading-relaxed text-justify"></p>
          <div id="genres" class="flex flex-wrap gap-2"></div>
          <div id="duracion" class="font-bold"></div>
          <div id="video-error" style="color: red; font-weight: bold; padding: 10px;"></div>
        </div>
      </div>
    </main>
</body>
</html>